name: Analisis de Librerias

on:
  issues:
    types: [opened]

jobs:
  analyze_libraries:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Simular an치lisis de librer칤as
        id: check_library
        run: |
          # Simulando un an치lisis de librer칤as.
          RESULTADO_LIBRERIA="Libreria aceptada" # O "Libreria rechazada"
          echo "Resultado: $RESULTADO_LIBRERIA"

          if [[ "$RESULTADO_LIBRERIA" == "Libreria rechazada" ]]; then
            echo "Librer칤a rechazada"
            echo "::set-output name=status::success"
          else
            echo "Librer칤a rechazada"
            echo "::set-output name=status::failure"
            exit 1
          fi

      - name: Comentar en la issue si el an치lisis fue exitoso
        if: success()
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/comments \
          -d '{"body":"游꿀 El an치lisis de la librer칤a ha sido aceptado."}' > /dev/null 2>&1

      - name: Comentar en la issue si el an치lisis fall칩
        if: failure()
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }}/comments \
          -d '{"body":"丘멆잺 El an치lisis de la librer칤a ha fallado."}' > /dev/null 2>&1

      - name: Cerrar la issue como completada si fue exitoso
        if: success()
        run: |
          curl -L \
          -X PATCH \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }} \
          -d '{"state":"closed", "state_reason": "completed"}' > /dev/null 2>&1

      - name: Cerrar la issue como no planeada si fall칩
        if: failure()
        run: |
          curl -L \
          -X PATCH \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.issue.number }} \
          -d '{"state":"closed", "state_reason": "not_planned"}' > /dev/null 2>&1
